.dashboard-container {
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}

.page-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: #213f7d;
  margin-top: 50px;
  margin-bottom: 30px;
}

.card-display {
  display: flex;
  justify-content: space-between;
}
